.action-bar {
    padding: 1rem;
}

.accounts-container {
    padding: 1rem; 

    .grid-item {
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 1rem;
        background-color: #fff;
    }

    .list-item {
        background-color: #fff;
    }

    .category-container:not(:first-child) {
        padding-top: 1rem;
    }

    .grid-item:hover, .mat-list-item:hover {
        background-color: #e6edef;
    }

    .mat-list-icon {
        width: 32px !important;
        height: 32px !important;
        font-size: unset !important;
    }

    .category-header {
        padding: 0.5rem 0;
        margin-bottom: 0.25rem;
        cursor: pointer;
    }

    .category-header:hover {
        background-color: #e6edef;
    }

}

.add-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 100;
}