<div fxLayout="column" class="container">
  <mat-toolbar color="primary" class="toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="64px">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <mat-icon>security</mat-icon>
      <span> Vault</span>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
      <!-- <span style="font-size: 1rem;">user.username</span> -->
      <!-- <amplify-sign-out></amplify-sign-out> -->
    </div>
  </mat-toolbar>
  <div fxFlex class="application-container">
    <router-outlet></router-outlet>
  </div>
</div>